/* +++++++++++++++++++++++++++++++++++++++++++ */
/* GENERAL SECTION */
/* +++++++++++++++++++++++++++++++++++++++++++ */
body {

}
.padmetopbotpage {
    padding-top: 2em;
    padding-bottom: 2em;
}
.padmetop {
    padding-top: 0.3em;
}
.padmetopbot {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.text-center {
    text-align: center !important;
}
hr {
    border-top: 2px solid rgb(12, 10, 0) !important;
}
/* +++++++++++++++++++++++++++++++++++++++++++ */
/* END OF GENERAL SECTION */
/* +++++++++++++++++++++++++++++++++++++++++++ */

/* +++++++++++++++++++++++++++++++++++++++++++ */
/* FONTS SECTION */
/* +++++++++++++++++++++++++++++++++++++++++++ */
.patua-font {
    font-family: 'Patua One', cursive;
}
.oxygen-font {
    font-family: 'Oxygen', sans-serif;
}
/* +++++++++++++++++++++++++++++++++++++++++++ */
/* END OF FONTS SECTION */
/* +++++++++++++++++++++++++++++++++++++++++++ */

/* +++++++++++++++++++++++++++++++++++++++++++ */
/* COLORS SECTION */
/* +++++++++++++++++++++++++++++++++++++++++++ */
.givemegrey {
    background-color: rgba(128, 138, 159, 0.3) !important;
}
/* +++++++++++++++++++++++++++++++++++++++++++ */
/* END OF COLORS SECTION */
/* +++++++++++++++++++++++++++++++++++++++++++ */