<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <link rel="shortcut icon" href="{% static 'images/logo_jumbo.jpg' %}" type="images/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Jed Nimkulrat's Resume</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <!-- End of Fonts -->

    <!-- jQuery + Popper come before Bootstrap -->
    <!-- jQuery -->
    <!-- Always use non-slim version for every project! -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- Internal function JS -->
    <script src="{% static "js/pdc.js" %}"></script>
    
    <!-- Customized CSS -->
    <!-- Use django syntax to prevent error -->
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- For hiding page -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
</head>

<body>
    <div class="padmetopbotpage text-center container col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">
        <h1 class="">JED NIMKULRAT</h1>
        <br>
        <h6 class="">8138 Hydon Dawn Lane, Cary. North Carolina | 307-399-1084 | jedn.dev@gmail.com | https://github.com/NCJo</h6>
        <hr>
        <h3>Full-Stack Developer | Web Developer | Software Developer | Copy Writer</h3>
        <h5 class="padmetop">Cross-Platform Application Development | Project Management</h5>
        <br>

        <div class=" text-left">
            <span>A technically sophisticated and dynamic professional with progressive experience in designing and developing robust technical solutions, web-based and mobile applications incorporating a range of technologies and programming languages.</span>
            <div class="padmetop"></div>
            <span class="">Proven knack in delivering interactive and user-centered web application design and development projects consistent with unique client requirements by leveraging expertise at both front and back-end development levels.</span>
            <div class="padmetop"></div>
            <span>Poised team player, who thrives in fast-paced corporate environments with a complete set of skills and robust ideas to drive innovation and increase the professional fitness for well-established companies.</span>
        </div>

        <div class="givemegrey">
            <hr>
                <h5>Technical Proficiencies</h5>
            <hr>
        </div>

        <div class="padmetopbot container">
            <span>Python | Django | Flask | SQLAlchemy | Ruby on Rails | JavaScript | React | React Native |Selenium | HTML| CSS | Bootstrap | JQuery | C++ | Angular | PHP | CodeIgniter | C# | Java | Unity | REST APIs | SQL | PostgreSQL</span>
        </div>

        <div class="givemegrey">
            <hr>
                <h5>Programming Experience</h5>
            <hr>
        </div>
        
        <div class="padmetop text-left">
            <span class="font-weight-bold"><u>ONGOING PROJECTS</u></span>
            <br>
            <!-- Position & Timeline -->
            <div class="padmetop row">
                <div class="col-md-10 text-center">
                    <h6 class="float-md-left font-weight-bold">Software Developer / Web Developer</h6>
                </div>
                <div class="col-md-2 text-center">
                    <h6 class="float-md-right font-weight-bold">Present</h6>
                </div>
            </div>
            <!-- Description -->
            <ul class="">
                <li class="">Create a bespoke E-Commerce Web Application for King Fruits Co. Ltd. using Django, React Native.</li>
                <li class="">Develop and design multiple customized websites for clients using Django, SQLite, and PostgreSQL.</li>
                <li class="">Utilized Django and PostgreSQL to build an interactive webpage for the University of Wisconsin-Madison’s Cancer Laboratory.</li>
                <li class="">Use Python, React Native, and Node.js to develop an Android and iOS version of Remote Humidity Sensing app for indoor plants.</li>                
            </ul>
        </div>
        <br>
        <div class="padmetop text-left">
            <span class="font-weight-bold"><u>COMPLETED PROJECTS</u></span>
            <br>
            <span><u>MINISTRY OF PUBLIC HEALTH OF THAILAND</u></span>
            <!-- Position & Timeline -->
            <div class="padmetop row">
                <div class="col-md-10 text-center">
                    <span class="float-md-left font-weight-bold">Project Manager/Remote Full Stack Developer; Tools & Technologies:</span><span class="float-md-left">&nbsp;PHP, CodeIgniter, PostgreSQL</span>
                </div>
                <div class="col-md-2 text-center">
                    <h6 class="float-md-right font-weight-bold">Apr 2018 - Sep2018</h6>
                </div>
            </div>
            <!-- Description -->
            <ul class="">
                <li class="">Created a web-based app to resolve the difficulty of workers in EMTs to purchase insurance due to high-risk working environment.</li>
                <li class="">Designed the application in a way that offers workers access with affordable price plans and a variety of options.</li>
                <li class="">Tested the app to ensure security and its ability to interact with multiple APIs and databases from both the Ministry of Public Health and Viriyah Insurance Company.</li>            
            </ul>
        </div>
        <div class="padmetop text-left">
            <span><u>TECHTALK LARAMIE</u></span>
            <!-- Position & Timeline -->
            <div class="padmetop row">
                <div class="col-md-10 text-center">
                    <span class="float-md-left font-weight-bold">Full Stack Developer; Tools & Technologies:</span><span class="float-md-left">&nbsp;Ruby on Rails, SQL</span>
                </div>
                <div class="col-md-2 text-center">
                    <h6 class="float-md-right font-weight-bold">Jul 2017 – Aug 2017</h6>
                </div>
            </div>
            <!-- Description -->
            <ul class="">
                <li class="">Designed and developed Gitch.me app to be a central hub for matching service providers and customers in the community, which offer a place access the abundant available supply and demand of the labor force in the city of Laramie, Wyoming in specific categories that are currently challenging to find, such as tutoring and housekeeping.</li>            
            </ul>
        </div>
        <div class="padmetop text-left">
            <span><u>KASIKORN BANK</u></span>
            <!-- Position & Timeline -->
            <div class="padmetop row">
                <div class="col-md-10 text-center">
                    <span class="float-md-left font-weight-bold">Remote Software Developer; Tools & Technologies:</span><span class="float-md-left">&nbsp;Python, Selenium,  Pandas, Pillow</span>
                </div>
                <div class="col-md-2 text-center">
                    <h6 class="float-md-right font-weight-bold">Feb 2017 – Jun 2017</h6>
                </div>
            </div>
            <!-- Description -->
            <ul class="">
                <li class="">Developed an app with a goal to obtain data and help clients select the best content creator candidates in Facebook to offer sponsorship; app made a prediction based on the organic growth of the group pages, frequent of activities from both admins and members of a group, and a number of competitors in the groups.</li>            
            </ul>
        </div>
        <div class="padmetop text-left">
            <span><u>WYOMING SMALL BUSINESS AND DEVELOPMENT CENTER</u></span>
            <!-- Position & Timeline -->
            <div class="padmetop row">
                <div class="col-md-10 text-center">
                    <span class="float-md-left font-weight-bold">Software Developer; Tools & Technologies:</span><span class="float-md-left">&nbsp;Python, Selenium, Pandas, Pillow</span>
                </div>
                <div class="col-md-2 text-center">
                    <h6 class="float-md-right font-weight-bold">Apr 2016 – Jun 2016</h6>
                </div>
            </div>
            <!-- Description -->
            <ul class="">
                <li class="">Developed code to analyze and create a model that can predict real estate values by using the assessor’s online database in Wyoming to find a way to predict an actual property value and available prices from actual property owners.</li>            
            </ul>
        </div>
        <div class="padmetop text-left">
            <span><u>UNIVERSITY OF WYOMING</u></span>
            <!-- Position & Timeline -->
            <div class="padmetop row">
                <div class="col-md-9 text-center">
                    <span class="float-md-left font-weight-bold">Software Developer; Tools & Technologies:</span><span class="float-md-left">&nbsp;Python, Twitter APIs</span>
                </div>
                <div class="col-md-3 text-center">
                    <h6 class="float-md-right font-weight-bold">Apr 2013 – May 2015</h6>
                </div>
            </div>
            <!-- Description -->
            <ul class="">
                <li class="">Designed and developed an application that fetches weather information from the University of Wyoming weather station and tweeted out the temperature and humidity with suggestions to the users based on current weather conditions.</li>            
            </ul>
        </div>

        
        <div class="givemegrey">
            <hr>
                <h5>Additional Experience</h5>
            <hr>
        </div>
        <div class="padmetop text-left">
            <span><u>KINGFRUITS CO. LTD.</u></span>
            <!-- Position & Timeline -->
            <div class="padmetop row">
                <div class="col-md-9 text-center">
                    <span class="float-md-left font-weight-bold">Remote Programmer /Web Administrator/Brand Development Consultant</span>
                </div>
                <div class="col-md-3 text-center">
                    <h6 class="float-md-right font-weight-bold">May 2014 – Present</h6>
                </div>
            </div>
            <!-- Description -->
            <ul class="">
                <li class="">Demonstrated robust programming and technical expertise in python and data mining to deliver an array of business solutions.</li>
                <li class="">Strategically designed and developed product advertisements for both online and offline media.</li>   
                <li class="">Promoted brand awareness, expanded exposure, and delivered information to the audience, which significantly increased sales.</li>               
            </ul>
        </div>
        <div class="padmetop text-left">
            <span><u>TBWA / SUN&SKY RESORT</u></span>
            <!-- Position & Timeline -->
            <div class="padmetop row">
                <div class="col-md-9 text-center">
                    <span class="float-md-left font-weight-bold">Remote Copy Writer/Graphic Designer</span>
                </div>
                <div class="col-md-3 text-center">
                    <h6 class="float-md-right font-weight-bold">Dec 2011 – Dec 2016</h6>
                </div>
            </div>
            <!-- Description -->
            <ul class="">
                <li class="">Generated and edited advertisements through various newsletters, promotional materials, and radio.</li>
                <li class="">Created integrated design projects for both online and offline media.</li>   
                <li class="">Increased effectiveness of advertisement by analyzing and adapting to the current industry and market trends.</li>               
            </ul>
        </div>
        <div class="padmetop text-left">
            <span><u>DEPARTMENT OF ANIMAL SCIENCE, UNIVERSITY OF WYOMING</u></span>
            <!-- Position & Timeline -->
            <div class="padmetop row">
                <div class="col-md-9 text-center">
                    <span class="float-md-left font-weight-bold">Analytical Lab Technician</span>
                </div>
                <div class="col-md-3 text-center">
                    <h6 class="float-md-right font-weight-bold">May 2010 – Oct 2012</h6>
                </div>
            </div>
            <!-- Description -->
            <ul class="">
                <li class="">Wrote codes to automate the detection and collecting data on the cellular (RBCs, WBCs, antibodies).</li>
                <li class="">Rendered exceptional skills in utilized sterilization techniques and handling hazardous materials.</li>   
                <li class="">Managed overall process of collecting and analyzing specimens.</li>               
            </ul>
        </div>
        <div class="givemegrey">
            <hr>
                <h5>Education & Credential</h5>
            <hr>
        </div>
        <div class="padmetop">
            <span class="padmetop font-weight-bold font-italic">Udacity Nanodegree Program: Full-Stack Web Developer Nanodegree</span>
            <br>
            <span class="padmetop font-weight-bold font-italic">Additional Coursework (Graduate Level):</span><span clas="font-italic">&nbsp;Algorithm and Data Structure | Artificial Intelligence | Analysis of Algorithm</span>
            <br>
            <span class="padmetop font-weight-bold font-italic">Bachelor Degree: Neuroscience/Physiology&nbsp;</span><span clas="font-italic">– University of Wyoming – Laramie, Wyoming</span>
        </div>
    </div>    
</body>
